body {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: Verdana, serif;
    font-size: 30px;
}

#boardGame {
    border: #0078d7;
    font-size: 50px;
}

td {
    background-color: #e1e1e1;
    border: 1px solid #adadad;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}

td:hover {
    background-color: #e5f1fb;
    border-color: #0078d7;
}

button {
    font-size: 30px;
    width: 300px;
    height: 80px;
}
